*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    background: #00203f;
    height: 10vh;
    align-items: center;
}
.logo-container,.nav-links,.nav-link{
    display: flex;
    color: #adefd2;
}
.logo-container{
    flex: 1;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    flex: .4;
    align-items: center;
}
.nav-links{
    justify-content: space-around;
    letter-spacing: 3px;
    font-weight: bold;
    float: left;
}
.nav-links li{
    list-style: none;
}
.nav-link{
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
    padding: 12px;
}
.nav-link:hover {
    background-color: #adefd2;
    color: #00203f;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #adefd2;
    margin: 5px;
    transition: all 0.3s ease-in;
}
.logo-container img{
    width: 35px;
}
.logo{
    font-size: 25px;
}
.presentation{
    display: flex;
    width: 100%;
    min-height: 90vh;
    background-image: url('homebg.jpg');
    background-size: 100% 100%;
    align-items: center;
}
.introduction{
    flex: 1;
}
.intro-text,.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}
.intro-text{
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    text-shadow: 5px 5px 5px #00203f;
}
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
.intro-text h1{
    font-size: 70px;
}
.intro-text p{
    font-size: 30px;
    margin-top: 5px;
}
.btn{
    margin-top: 30px;
}
.btn-gstarted{
    border: none;
    background: #00203f;
    color: white;
    width: 150px;
    height: 70px;
    cursor: pointer;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
}
.btn-gstarted:hover{
    background-color: #adefd2;
    color: #00203f;
}

@media screen and (max-width:500px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #00203f;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-link{
        font-size: 12px;
    }
    .burger{
        display: block;
    }
    .intro-text{
        animation: none;
    }
    .logo-container img{
        display: none;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}