*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    background: #00203f;
    height: 10vh;
    align-items: center;
}
.logo-container,.nav-links,.nav-link{
    display: flex;
    color: #adefd2;
}
.logo-container{
    flex: 1;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    flex: .4;
    align-items: center;
}
.nav-links{
    justify-content: space-around;
    letter-spacing: 3px;
    font-weight: bold;
    float: left;
}
.nav-links li{
    list-style: none;
}
.nav-link{
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
    padding: 12px;
}
.nav-link:hover {
    background-color: #adefd2;
    color: #00203f;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #adefd2;
    margin: 5px;
    transition: all 0.3s ease-in;
}
.logo{
    font-size: 25px;
}
.presentation{
    display: flex;
    width: 100%;
    min-height: 90vh;
    background-image: url('homebg.jpg');
    background-size: 100% 100%;
    align-items: center;
}
.introduction{
    flex: 1;
}
.intro-text,.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}
.intro-text{
    animation-name: fadeIn;
    animation-duration: 5s;
    text-shadow: 5px 5px 5px #00203f;
}
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
.intro-text h1{
    font-size: 70px;
}
.intro-text p{
    font-size: 30px;
    margin-top: 5px;
}
.btn{
    margin-top: 30px;
}
.btn-gstarted{
    border: none;
    background: #00203f;
    color: #adefd2;
    text-decoration: none;
    padding: 18px;
    cursor: pointer;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    list-style: none;
}
.btn-gstarted:hover{
    background-color: #adefd2;
    color: #00203f;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #00203f;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        opacity: 0;
        transition: transform 0.5s ease-in;
    }
    .nav-link{
        font-size: 12px;
    }
    .burger{
        display: block;
    }
    .intro-text{
        animation: none;
    }
    .intro-text h1{
        font-size: 34px;
    }
    .intro-text p{
        font-size: 22px;
    }
    .btn-gstarted{
        width: 120px;
        height: 60px;
        font-size: 14px;
    }
}
.nav-active{
    opacity: 1;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*About*/
.about{
    display: flex;
    width: 100%;
    min-height: 80vh;
    background-color: #adefd2;
}
.about-text{
    background-color: #00203f;
    color: #adefd2;
    padding: 10px 90px 150px 90px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px white;
}
.about-text h1{
    margin-top: 10px;
    margin-bottom: 20px;
}
.about-text p{
    display: flex;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    width: 500px;
    text-indent: 50px;
}

@media screen and (max-width:768px){
    .about-text{
        padding: 5px 10px 70px 10px;
        margin-left: 20px;
        margin-top: 30px;
        border-radius: 30px;
        box-shadow: 10px 10px;
        box-shadow: 10px 10px white;
    }
    .about-text p{
        font-size: 12px;
        line-height: 1.8;
        text-align: justify;
        width: 420px;
        text-indent: 50px;
    }
}